<h1>Create a Team and Heroes!</h1>
<form method="post" action="/team">
  <p>
    <label for="team[name]">Team Name: </label>
    <input type="text" name="team_name" id="team[name]">
  </p>
  <p>
    <label for="team_motto">Team Motto: </label>
    <input type="text" name="team_motto" id="team[motto]">
  </p>
  <h2>Hero 1</h2>
  <p>
    <label for="hero_name_1">Hero's Name: </label>
    <input type="text" name="heroes[][name]" id="hero_name_1">
  </p>
  <p>
    <label for="hero_power_1">Hero's Power: </label>
    <input type="text" name="heroes[][power]" id="hero_power_1">
  </p>
  <p>
    <label for="hero_bio_1">Hero's Biography: </label>
    <input type="text" name="heroes[][bio]" id="hero_bio_1">
  </p>
  <h2>Hero 2</h2>
  <p>
    <label for="hero_name_2">Hero's Name: </label>
    <input type="text" name="heroes[][name]" id="hero_name_2">
  </p>
  <p>
    <label for="hero_power_2">Hero's Power: </label>
    <input type="text" name="heroes[][power]" id="hero_power_2">
  </p>
  <p>
    <label for="hero_bio_2">Hero's Biography: </label>
    <input type="text" name="heroes[][bio]" id="hero_bio_2">
  </p>
  <h2>Hero 3</h2>
  <p>
    <label for="hero_name_3">Hero's Name: </label>
    <input type="text" name="heroes[][name]" id="hero_name_3">
  </p>
  <p>
    <label for="hero_power_3">Hero's Power: </label>
    <input type="text" name="heroes[][power]" id="hero_power_3">
  </p>
  <p>
    <label for="hero_bio_3">Hero's Biography: </label>
    <input type="text" name="heroes[][bio]" id="hero_bio_3">
  </p>
  <input type="submit" id="Submit">
</form>
