<h1>Create a Team and Heroes!</h1>
<form method="post" action="/team">
  <p>
    <label for="team_name">Team Name: </label>
    <input type="text" name="team_name" id="team_name">
  </p>
  <p>
    <label for="team_motto">Team Motto: </label>
    <input type="text" name="team_motto" id="team_motto">
  </p>
  <h2>Hero 1</h2>
  <p>
    <label for="hero_name_1">Hero's Name: </label>
    <input type="text" name="heroes[][name]" id="hero_name_1">
  </p>
  <input type="submit" id="Submit">
</form>
